<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Say Hello World</title>
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<style>
    body {
        font-family: 'Kanit', sans-serif;
    }
</style>
<body>
    <div class="container">
        {% if data %}
            <h1 class="text-center mt-5">Data: {{ data }}</h1>
        {% else %}
            <h1 class="text-center mt-5"></h1>
        {% endif %}
    </div>
</body>
<script>
    window.onload = function () {
        {% if data %}
            Swal.fire({
                title: 'Success',
                text: 'Your data is {{ data }}',
                icon: 'success',
                confirmButtonText: 'Cool'
            })
        {% else %}
            Swal.fire({
                title: 'Error',
                text: 'Your data is empty',
                icon: 'error',
                confirmButtonText: 'Cool'
            })
        {% endif %}
    }
</script>
</html>